In [5]:
import pandas as pd

In [2]:
# 新增一個二維 list
list_ABCD = [
    ['AJ', 19],
    ['Camel', 22],
    ['Anna', 14],
    ['Candy', 18]
]
# 建立基本的 dataframe
df = pd.DataFrame(list_ABCD)

# 設定 dataframe 的欄位
df.columns = ['name', 'age']; df

    name  age
0     AJ   19
1  Camel   22
2   Anna   14
3  Candy   18

In [3]:
# 使用 dict 來建立 dataframe
df = pd.DataFrame({
    'name': ['AJ', 'Camel', 'Anna', 'Candy'],
    'age': [19, 22, 14, 18]
}); df

    name  age
0     AJ   19
1  Camel   22
2   Anna   14
3  Candy   18

In [8]:
# 使用 list of dict 來建立 dataframe
data = [
    {'name': 'Alex', 'age': 19},
    {'name': 'Bill', 'age': 22},
    {'name': 'Carl', 'age': 14},
    {'name': 'Darren', 'age': 18},
]
df = pd.DataFrame(data); df

SyntaxError: invalid non-printable character U+00A0 (2867004595.py, line 3)